.formBar__barDataContainer,
.formBar__barDataContainer--active {
  max-height: 0px;
  display: none;
  flex-direction: column;
  align-items: center;
}

.formBar__barDataContainer--active{
  max-height: toRem(3000);
  display: flex;
}

.barDataContainer__separator,
.barDataContainer__separator--active{
  @include separator;
  margin-top: toRem(4);
  margin-bottom: toRem(16);
  visibility: hidden;
  display: none;
}

.barDataContainer__separator--active{
  visibility: visible;
  display: flex;
}

.barData__inputContainer{
  min-width: 100%;
  max-width: toRem(685);
  display: flex;
  flex-wrap: wrap;
  gap: clamp(toRem(10), 10%, toRem(52));
  margin-top: toRem(19);
  padding-left: toRem(20);
  padding-right: toRem(16);
  padding-bottom: toRem(20);
  font-family: 'Inter';

}
