.inputContainer__textField {
  min-width: clamp(toRem(120), 17.5vw, toRem(295));
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: toRem(15) toRem(20) toRem(6) toRem(12);
  background-color: #f4f4f4;
  border-radius: 4px;
  font-size: toRem(12);
}

.inputContainer__inputField {
  position: relative;
  margin-bottom: toRem(20);
}

.inputContainer__label {
  position: absolute;
  top: toRem(-14);
  left: 10px;
  padding: toRem(5) toRem(10) toRem(1) toRem(4);
  background-color: #f4f4f4;
  font-size: toRem(13);
  font-weight: 550;
}

.inputContainer__textArea {
  background-color: #f4f4f4;
  resize: none;
  border-radius: toRem(4);
  padding: toRem(15) toRem(11) toRem(37) toRem(11);
  min-width: clamp(toRem(300), 37.7vw, toRem(400));
}


.inputContainer__checkBox{
  min-width: clamp(toRem(120),17.5vw,toRem(295));  
  background-color: #f4f4f4;
  border: rgba(0, 0, 0, 0.600) solid 1px;
  border-radius: 4px;
  min-height: toRem(28);
  display: flex;
  justify-content: flex-end;
  padding-right: toRem(13);
}

.inputContainer__inputField.checkBox{
  margin-top: toRem(7.5);
}

.inputContainer__inputField:has(.inputContainer__checkBox) > .inputContainer__label{
  top: 0px;
  background-color: transparent;
}

.checkBox__togglerContainer,
.checkBox__togglerContainer--active{
  min-width: toRem(32);
  min-height: toRem(18);
  background-color: black;
  align-self: center;
  border-radius: 20px;
  position: relative; 
  cursor: pointer;
}

.checkBox__togglerCircle{
  position: absolute;
  left: 1px;
  top: 1px;
  min-width: toRem(16);
  min-height: toRem(16);
  background-color: #f4f4f4;
  border-radius: toRem(24);
  transition: left 0.3s ease;
}

.checkBox__togglerContainer--active > .checkBox__togglerCircle{
  left: 15px;
}
